<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Tracker</title>
</head>
<body>
<h1>Welcome to the Game Tracker System!</h1>
<br>
<h3>Please input your games to track:</h3>
<hr>

<form action="/add-game" method="post">
    <input type="text" placeholder="Name" name="gameName"/>
    <select name="gameGenre">
        <option selected disabled>Genre</option>
        <option value="adventure">Adventure</option>
        <option value="rpg">RPG</option>
        <option value="shooter">Shooter</option>
        <option value="strategy">Strategy</option>
    </select>
    <select name="gamePlatform">
        <option selected disabled>Platform</option>
        <option value="ps4">PS4</option>
        <option value="wii">Wii</option>
        <option value="xbox">XBox</option>
        <option value="pc">PC</option>
    </select>
    <input type="number" placeholder="Release Year" name="gameYear"/>
    <button type="submit">Add Game</button>
</form>
<br>
<hr>
<ol>
    {{#games}}
        <li>
            {{name}} {{platform}} {{releaseYear}}
        </li>
    {{/games}}
</ol>


</body>
</html>